html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#transparentOverlay {
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background:white;
    opacity: 0.99;
    position: fixed;
}

#map {
    height: 100%;
}

/*html,body {width:100%;height:100%;margin:0;padding:0;}*/

#map {
    background:white;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

.overlap {
    position:relative;
    margin-top: 700px;

}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}

#floating-panel {
    position: absolute;
    top: 85px;
    left: 15%;
    z-index: 5;
    background-color: rgba(255,255,255,0.75);
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#clear-search {
    position: absolute;
    left: 43%;
    top: 10px;
    z-index: 5;
    font-size: 14px;
}

#annotate-panel {
    position: absolute;
    top: 75px;
    left: 13%;
    z-index: 5;
    background-color: rgba(255,255,255,0.75);
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 40px;
    padding-left: 10px;
    width: 300px;
}

.annotateText {
    float: right;
    margin: 5px;
}

.annotateLabel {
    /*float: left;*/
    font-size: 15px;
}

.overflow {
    height: 200px;
}

.btnInput {
    /*float: right;*/
    margin: 10px;
    height: 50px;
    width: 100px;
    font-size: 15px;
}
/*#btn_annotateEnter {
    float: right;
    margin-top: 10px;
    position: absolute;
    top: 80px;
    left: 75%;
}

#btn_annotateCancel {
    float: right;
    margin-top: 10px;
    position: absolute;
    top: 80px;
    left: 45%;
}*/